body {
  background-color: rgba(22, 22, 40, 1);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-whatever {
  border-color: green !important;
}

.btn-whatever:hover {
  background-color: green !important;
  color: white !important;
}

.made_by {
  color: #00bcd4;
}

.App {
  color: #d0d7da;
}

#sidebar {
  box-sizing: border-box;
  width: 230px;
  min-width: 230px;
  background: #3f0e40;
  font-size: 15px;
  min-height: 100vh;
}
